.footer a {
  font-size: 30px;
  color:  #c65e09;
  padding: 0px 55px ;
}
.footer a:hover {
  font-size: 30px;
  color:  #c65e09;
  border-top: 2px solid #c65e09 ;
}


.footer  h1{
  color: #d62828;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer  p{
  color: #c65e09 ;
  display: flex;
  justify-content: center;
}

.footer .fas {
  color: #BF0F12;

}

.links {
  display: flex;
  justify-content: center;
}
